<ion-header [translucent]="true">
  <ion-toolbar text-center>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="grid-container">
    <div>
      <img class='grid-item grid-item-1' src='/assets/Safety and Security Office.jpg' alt=''>
      <p>"Safety and Security Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-2' src='/assets/Accounting, Budget Office.jpg' alt=''>
      <p>"Accounting and Budget Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-3' src='/assets/IT Department.jpg' alt=''>
      <p>"Information Technology Department"</p>
    </div>
    <div>
      <img class='grid-item grid-item-4' src='/assets/EVSU Entrance.jpg' alt=''>
      <p>"EVSU Entrance"</p>
    </div>
    <div>
      <img class='grid-item grid-item-5' src='/assets/Biology Room.jpg' alt=''>
      <p>"Biology Room"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Chemistry Lab.jpg' alt=''>
      <p>"Chemistry Lab"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Education Department Office.jpg' alt=''>
      <p>"Education Department Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Gender and Development Office.jpg' alt=''>
      <p>"Gender and Development Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Maintenance Office.jpg' alt=''>
      <p>"Maintenance Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Planning and Development Office.jpg' alt=''>
      <p>"Planning and Development Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Quality Assurance and Accreditation Office.jpg' alt=''>
      <p>"Quality Assurance and Accreditation Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/NSTP Room.jpg' alt=''>
      <p>"NSTP Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Research, Extension Service Office.jpg' alt=''>
      <p>"Research, Extension Service Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/School Gymnasium.jpg' alt=''>
      <p>"Gymnasium"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Supply, Bac Office.jpg' alt=''>
      <p>"Supply Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Student Affair and Services Office.jpg' alt=''>
      <p>"SASO"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Student Publication Office.jpg' alt=''>
      <p>"Student Publication Office"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Science Building.jpg' alt=''>
      <p>"Science Building"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/SSG Lounge.jpg' alt=''>
      <p>"SSG Lounge"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Library.jpg' alt=''>
      <p>"Library"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Fish Processing Laboratory.jpg' alt=''>
      <p>"Fish Processing Laboratory"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Fisheries Department.jpg' alt=''>
      <p>"Fisheries Department"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Technology Building.jpg' alt=''>
      <p>"Technology Department"</p>
    </div>
    <div>
      <img class='grid-item grid-item-6' src='/assets/Vocational Building.jpg' alt=''>
      <p>"Vocational Building"</p>
    </div>
  </div>
</ion-content>