<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        About
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="container">
    <div class="card">
      <img src="../assets/logo.png" alt="profile_img">
      <br>
      <h3 class="playername">Eastern Visayas State University</h3>
      <h5 class="country">Carigara Campus</h5>
      <div class="details">
        <div class="column">
          <a button href="https://carigara.evsu.edu.ph" clear>
            <span class="flex">
              <p style="float:left"></p>
              <ion-icon name="home-outline" size="large"></ion-icon>
            </span>
          </a>
        </div>
        <div class="column">
          <a button href="https://apps.evsu.edu.ph" clear>
            <span class="flex">
              <p style="float:left"></p>
              <ion-icon name="information-circle" size="large"></ion-icon>
            </span>
          </a>
        </div>
      </div>
      <br>
      <p style="color:rgb(97, 92, 92);">You can simply visit the official facebook account of <br> <a target="_blank"
          rel="noopener" href="https://web.facebook.com/EVSUCCOFFICIAL">EVSU</a> or <a target="_blank" rel="noopener"
          href="https://email.evsu.edu.ph">email</a> for more inquiries.</p>
    </div>

  </div>
</ion-content>